<link rel="stylesheet" href="/css/user_profile.css" />
<h1><%= title %></h1>

<% if (user.id == profile_user.id) { %>
<form
  action="/users/update/<%= profile_user.id %>"
  enctype="multipart/form-data"
  method="post"
>
  <input
    type="text"
    name="name"
    placeholder="Your name here..."
    value="<%= profile_user.name%>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Your email here..."
    value="<%= profile_user.email %>"
    required
  />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="Update Profile" />
</form>
<% } else { %>
<p>Name: <%= profile_user.name%></p>
<p>Email Id: <%= profile_user.email%></p>

<% } %>
